# ←で始めるとコメント行

# サブディレクトリを含む hoge.dcu 等のファイルを無視したい
# ※ *.dcuはDelphiのコンパイル済みファイル
# *.dcu
*.swp

# トップディレクトリの*.exeファイルのみを無視対象にしたくなった、
# サブディレクトリは無視しない方向の場合
# /*.exe

# tmp ディレクトリまるごと無視したい場合。
# ただし、gitはディレクトリを扱わないので取り出したときに
# 多分、tmpが消えます。それが不都合ならば空の tmp/.gitignoreを作り
#  git add tmp/.gitignore
# してやればいいはずです。(もし文句言われたら -f つける)
# tmp/

# cache ディレクトリの中身は無視したいけど、
# とにかく .htaccess は無視したくない場合("!"で除外設定)
# cache/ だと除外設定が上手くいかないのが謎？？
# cache/*.*
# !.htaccess

# *.oはC言語のコンパイル済みファイルなのでいらないけど、
# zlib/以下の*.oはいるなあ(除外指定)なんてとき
# *.o
# !zlib/*.o


